<?xml version="1.0" encoding="UTF-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<httpProtocol>
			<!-- Force no-cache -->
			<customHeaders>
				<add name="Cache-Control" value="no-cache" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
			</customHeaders>
		</httpProtocol>

		<defaultDocument>
			<files>
				<add value="default.html" />
			</files>
		</defaultDocument>

		<rewrite>
			<rules>
				<rule name="Rewrite RouterJS" stopProcessing="true">
					<match url="^.+(\.[a-z]+)$" negate="true" />
					<action type="Rewrite" url="." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>