@secondary-color-darker: #042B00;
@secondary-color-dark: #266E1E;
@secondary-color: #559A4E;
@secondary-color-light: #A1D09C;
@secondary-color-lighter: #EDF5EC;

@primary-color-darker: #011821;
@primary-color-dark: #1A4454;
@primary-color: #3E6776;
@primary-color-light: #79959F;
@primary-color-lighter: #E3E9EB;

@complement-color-darker: #340003;
@complement-color-dark: #842429;
@complement-color: #B95D62;
@complement-color-light: #F9BBBE;
@complement-color-lighter: #FEF5F5;
