/* http://paletton.com/#uid=72X0M0kbWlZ1WLs6OsFg3f0oYaU */

@primary-color-darker: #0C4613;
@primary-color-dark: #2F6836;
@primary-color: #58915F;
@primary-color-light: #96BD9B;
@primary-color-lighter: #C1EDC7;

@secondary-color-darker: #0A3237;
@secondary-color-dark: #264C52;
@secondary-color: #476D73;
@secondary-color-light: #779195;
@secondary-color-lighter: #D2DBDC;

@complement-color-darker: #5A130F;
@complement-color-dark: #86413D;
@complement-color: #BC7672;
@complement-color-light: #F3C4C1;
@complement-color-lighter: #FFF4F3;
