@import "functions.less";
@import "colors.less";

html, body {
	width: 100%;
	height: 100%;
	font: normal 16px 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

* {
	.box-sizing;

	&:focus {
		outline: none;
	}
}

h1 {
	font-size: 2rem;
	margin-bottom: 24px;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 16px;
}

h1, h2, h3 {
	color: @complement-color-dark;
	font-weight: bold;
}

button, .button {
	.box-shadow(1px, 1px, 2px, black);
	display: inline-block;	
	border: none;
	background: @complement-color-dark;
	color: white;
	font: inherit;
	text-decoration: none;

	&:hover,
	&:active {
		background: @complement-color-light;
		color: @complement-color-dark;
	}

	&:active {		
		.box-shadow(0, 0);
	}
}

a.logo {
	cursor: pointer;
}

.logo {
	cursor: default;
	display: inline-block;
	text-decoration: none;

	span:first-child {
		color: @primary-color-darker;
		.text-stroke(1px, white);
	}

	span:last-child {
		color: white;
		.text-stroke(1px, @complement-color);
	}

	&:hover {
		span:first-child {
			color: white;
			.text-stroke(1px, @primary-color-darker);
		}

		span:last-child {
			color: @complement-color;
			.text-stroke(1px, white);
		}
	}
}

.app {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: @primary-color-darker;

		.header-content {
			margin: 0 auto;
			width: 960px;
			overflow: hidden;

			.logo {
				padding: 10px 16px;
				font-size: 1.5rem;
			}

			.nav {
				.display-flex;
				.clear;
				float: right;

				> li {
					display: block;

					> a {
						display: block;
						border-bottom: solid 4px transparent;
						padding: 16px 12px 12px;
						color: @primary-color-light;
						text-decoration: none;

						&.active,
						&.active:hover,
						&.active:visited {
							cursor: default;
							background-color: rgba(255, 255, 255, 0.1);
							border-bottom-color: @complement-color;
							color: white;
						}

						&:hover,
						&:hover:visited {
							color: white;
						}

						&:visited {
							color: @primary-color-light;
						}
					}
				}
			}
		}		
	}

	.body {
		padding-top: 40px;
	}
}

.home {
	.hero {
		background-color: @primary-color-dark;

		.content {
			margin: 0 auto;
			width: 960px;
			padding: 48px 0 48px;
			text-align: center;
			
			.logo {
				font-size: 3.5rem;
				padding-bottom: 8px;
				font-weight: normal;
			}

			.subtitle {
				padding-bottom: 48px;
				color: white;
				font-weight: lighter;
				font-size: 1.5rem;
			}

			.buttons {
				.button {
					padding: 12px 24px;
					font-weight: lighter;
					font-size: 1.5rem;

					&:first-child {
						margin-right: 32px;
					}
				}
			}
		}
	}

	.marketing {
		.display-flex;
		margin: 48px auto 0;
		width: 960px;

		.marketing-item {
			.flex(1);
			margin-left: 48px;

			&:first-child {
				margin-left: 0px;
			}
		}
	}

	.footer {
	}
}